<html>
  <head>
    <title>TODO list</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/assets/todo-list.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container" id="todo-table">
      <h1>TODO App</h1>
      <div class="placeholder"></div>
      <form>
        <div class="input-group">
          <input type="text" class="form-control" name="item" placeholder="Add new todo task here" required />
          <div class="input-group-btn">
            <button type="submit" class="btn btn-default"> Add </button>
          </div>
        </div>
      </form>
      <ul>
        <% todos.forEach(function(todo){ %>
          <li><%= todo.item %></li>
        <%}); %>
      </ul>
    </div>
  </body>
</html>
